.nav-pills .nav-link.active,
.nav-tabs .nav-link.active {
    background-color: #7f143f;
    color: #fff;
}

.text-primary {
    color: #7f143f !important;
}

.bg-primary {
    background-color: #7f143f !important;
}

.border-primary {}

.bi-bell-fill {
    font-size: 22px;
}

.notification-icon-large {
    font-size: 25px;
}